modules = ["nodejs-18", "python-3.12", "bash", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Iniciar "
mode = "sequential"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "fastmcp run src/python/inspector_server.py:mcp --transport http --host 0.0.0.0 --port 8000"
waitForPort = 8000

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Iniciar "

[[ports]]
localPort = 8000
externalPort = 80
